.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

.row:first-child {
  font-weight: bold;
  border-top: 0;
}

.row {
  display: flex;
  align-items: center;
  border-top: 2px solid #cccccc;
}

.index {
  width: 7%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.description {
  width: 55%;
  padding: 10px;
}

.date {
  width: 25%;
  padding: 10px;
}

.options {
  width: 13%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-evenly;
}

.option {
  cursor: pointer;
  position: relative;
}

.option:first-child:hover>svg {
  color: #e49724;
}

.option:nth-child(2):hover>svg {
  color: #00c71b;
}

.option:nth-child(3):hover>svg {
  color: #f51818;
}

.option>svg {
  width: 23px;
  height: 23px;
}

.option>div {
  visibility: hidden;
  opacity: 0;
}

.option:hover>div {
  visibility: visible;
  opacity: 1;
}

.modalContent {
  padding: 0 20px;
}

.sensorName {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.sensorName:first-child {
  margin-top: 0;
}