.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: block;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  z-index: 100;
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.buttonDelimiter {
  width: fit-content;
}